html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

 

.card-img,
.card-img-top {
    object-fit: cover;
}

.card {
    margin: 0.5rem;
}

.card-img-overlay { /* Säätää kortteja etusivulla sekä tuotesivulla */
    background-color: rgba(0, 0, 0, 0.2); /* Tämä lisää hieman tummennusta kuvaan jolloin teksti näkyy paremmin */
}

.plant-boxes {
    margin: 0 5rem;
}

.info-text {
    margin-bottom: 1rem;
}

.card-title {
    color: white !important;
    font-size: clamp(0.9em, 2.5vw, 1.5em); /* Minimikoko 0.9em, ihanneluku 2.5vw, maksimikoko 1.5em */
}

.card-text {
    color: white !important;
    font-size: clamp(0.7em, 1.5vw, 1.2em);
}

@media (max-width: 375px) {
    .card-img-overlay .btn {
        display: none; /* Piilottaa napin */
    }
}

.hero-section {
    position: relative; /* Varmista, että hero-section on positionoitu */
}

@media (min-width: 426px) {
    .intro-box {
        max-width: 350px; /* Suuremmilla näytöillä max-width on 350px */
    }
}

@media (max-width: 425px) {
    .intro-box {
        margin-right: 3em;
    }
}