.navbar { /* VALITSE HEADERIN VÄRI */
    background-color: #1F3D2B; /* Vaihda haluamaksesi väriksi */
}

.navbar, .navbar-nav .nav-link, .navbar-brand {
    color: #F6F8F5 !important;  /* Vaalea väri tekstille */
    
}

.navbar-brand img {
    width: 150px; /* Muuta halutuksi leveydeksi */
    height: auto; /* Säilyttää kuvasuhteen */
    /* margin: 0 0 0 4rem; /* Lisää tilaa logon ympärille */
}

.navbar-nav {
    align-items: center;
}
